.App {
  text-align: center;
}
td{
  background-color: #ff6b6b;
}
.gradient-text {
font-size: 1.9rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ff6b6b, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.authorsearch{
  padding: 8px;
  border: 2px solid gray;
  border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.btns{
  border-radius: 2px;
  margin: 10px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
